body {
    font-family: Arial, sans-serif;
    background: #e3f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-bottom: 15px;
}

.card {
    background-color: rgb(248, 241, 234) ;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    height: auto;
    box-shadow: 0px 0px 30px 0px black;
}

input {
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid grey;
    font-size: 18px;
}

button {
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(92, 92, 255);
    color: white;
    border-radius: 20px;
}

button:hover{
    box-shadow: 0px 0px 20px 0px grey;
}

p {
    margin-top: 15px;
    font-weight: bold;
    line-height: 40px;
}

h2{
    font-size: 3vh;
}

footer{
    position: fixed;
    bottom: 0;
    color: grey;
    width: 100%;
    text-align: center;
    background-color:ivory;
    border-top: 2px solid grey;
}

footer>p{
    margin: 5px;
    padding: 10px;
}

p>a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: black;
}