body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e3f2fd;
}

.heading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    font-size: 4vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: ivory;
    z-index: 1000;
    border-bottom: 2px solid grey;
}

.main {
    min-height:75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.card {
    display: flex;
    gap: 2vh;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    max-width: 900px;
}

.card1,
.card2 {
    background-color: rgb(248, 241, 234);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 30px 0px black;

    flex: 1;
    min-width: 280px;
}

input {
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid grey;
    font-size: 18px;
}

button {
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(92, 92, 255);
    color: white;
    border-radius: 20px;
    border: none;
}

button:hover {
    box-shadow: 0px 0px 20px 0px grey;
}

p {
    margin-top: 15px;
    font-weight: bold;
    line-height: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: grey;
    text-align: center;
    background-color: ivory;
    border-top: 2px solid grey;
}

footer > p {
    margin: 5px;
    padding: 10px;
}

p > a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: black;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .card1,
    .card2 {
        width: 90%;
    }
}
