body {
    font-family: Arial, sans-serif;
    background: #e3f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    background-color: rgb(248, 241, 234) ;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    height: auto;
    box-shadow: 0px 0px 30px 0px black;
}

input {
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid grey;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: rgb(92, 92, 255);
    color: white;
    border-radius: 20px;
}


p {
    margin-top: 15px;
    font-weight: bold;
    line-height: 40px;
}

h2{
    font-size: 3vh;
}